/* ----------------aclaraciones css---------- */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration:none ;
}

// variables
$color-footer:chocolate;
$color-header:black;
$color__border-solid: chocolate;
$color__nav: chocolate;

// variables




 
  
/* ----------------fin aclaraciones css---------- */