
/* ----------------section GALERIA PANTALLA 350PX -------------- */
/* -----------img de galeria cargadas en html con boostrap---------- */

.img__galeria {
    padding: 0.2em;

    background-color: white;
}

.col-12 {
    padding: 0%;
}

/* -----------fin img de galeria cargadas en html con boostrap---------- */
