
/* -----------------------section productos pantalla 350px----------- */
/* ----------------IMG transparente y titulo ---------------------- */
.tituloss__portada-principal {
    width: 100%;
    height: 135px;
    background-image: url(/imagenes/html_productos/img__fondo-nuevo.jpeg);
   background-position: center;
   background-size: cover;
   opacity: 0.5;
    display: flex;
    justify-content: center;
text-align: center;
}
.titulo__portada-principal {
    padding: 0.5em;
    font-size: 1.1em;
    font-family: serif;
    opacity: 10;
    color: black;
}
/* ----------------fin IMG transparente y titulo ---------------------- */
/* --------------subtitulo------------- */
.contendor__portada-principal {
    padding: 0em 0em 1em 2em;
}
.subtitulo__portada {
    display: flex;
    padding: 0.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(141, 146, 146, 0.26);
}
/* -----------------------fin section productos pantalla 350px----------- */
/* ----------------------section productos pantalla 600px----------- */
@media (min-width: 600px) {
    .titulo__portada-principal{
        padding-top:2.5em;
        font-size: 1em;
       }}
    /* ----------------------- FIN section productos pantalla 600px----------- */
/* ----------------------- section productos pantalla 1200px----------- */
@media (min-width: 1200px) {
    .contendor__portada-principal {
        width: 960px;
    }
    .tituloss__portada-principal {
        height: 20em;
        display: flex;
        justify-content: center;
    }
   .titulo__portada-principal{
    padding-top:2.5em;
   }
    .subtitulo__portada {
        padding: 1em;
    }
}
/* -----------------------fin section productos pantalla 1200px----------- */