

// section contacto 350px
/* ------------formulario consultas------------- */
@media (min-width: 400px){
    .formulario_consultas {
    margin-top: 1em;
}}
/* ------------fin  formulario consultas------------- */
// fin section contacto 350px

/* ---------------- section contacto PANTALLA 600PX -------------- */
@media (min-width: 600px) {
    .formulario_consultas {
       
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
/* ----------------fin section contacto PANTALLA 600PX -------------- */

/* ----------------section contacto PANTALLA 1200PX -------------- */
@media (min-width: 1200px) {
.formulario_consultas {
    display: flex;
    flex-direction: row;
    gap: 4em;
     margin-block-end: 4.3em;
   }
}
/* ----------------fin section contacto PANTALLA 1200PX -------------- */



